@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --clr-primary-800: hsl(213, 96%, 18%);
  --clr-primary-400: hsl(243, 100%, 62%);
  --clr-primary-200: hsl(228, 100%, 84%);
  --clr-primary-100: hsl(206, 94%, 87%);
  --clr-secondary: hsl(354, 84%, 57%);

  --clr-neutral-500: hsl(231, 11%, 63%);
  --clr-neutral-400: hsl(229, 24%, 87%);
  --clr-neutral-300: hsl(217, 100%, 97%);
  --clr-neutral-200: hsl(231, 100%, 99%);
  --clr-neutral-100: hsl(0, 0%, 100%) * /;

  font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
 
@font-face {
  font-display: swap; 
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("woff2"); 
}
 
@font-face {
  font-display: swap; 
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("woff2"); 
} 
@font-face {
  font-display: swap; 
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("woff2"); 
} */
